# Core frameworks
torch==2.6.0+cu118
torchvision==0.21.0+cu118

# Numerical & data handling
numpy==1.26.4
pandas==2.2.3

# Plotting & visualization
matplotlib==3.9.1
seaborn==0.13.2

# Machine learning & explainability
scikit-learn==1.6.1
shap==0.46.0

# Image I/O & manipulation
opencv-python==4.11.0.86
Pillow==11.3.0

# Optimization & experimentation
optuna==4.2.0

# Progress bars
tqdm==4.67.1